In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.shape

(891, 12)

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
df.drop(['PassengerId','Name','Ticket','Cabin','Embarked','SibSp','Parch'], axis=1, inplace=True )

In [6]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [7]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [8]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [9]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [10]:
l_sex_dummies=pd.get_dummies(df['Sex'],drop_first=True)
df= pd.concat([df,l_sex_dummies],axis=1)
df.head()

   Survived  Pclass     Sex   Age     Fare  male
0         0       3    male  22.0   7.2500     1
1         1       1  female  38.0  71.2833     0
2         1       3  female  26.0   7.9250     0
3         1       1  female  35.0  53.1000     0
4         0       3    male  35.0   8.0500     1

In [11]:
df.drop(['Sex'], axis=1, inplace=True )
df.head()

   Survived  Pclass   Age     Fare  male
0         0       3  22.0   7.2500     1
1         1       1  38.0  71.2833     0
2         1       3  26.0   7.9250     0
3         1       1  35.0  53.1000     0
4         0       3  35.0   8.0500     1

In [12]:
from sklearn.preprocessing import StandardScaler
sts =StandardScaler()
feature_scale = ['Age','Fare']
df[feature_scale] = sts.fit_transform(df[feature_scale])
df.head()

   Survived  Pclass       Age      Fare  male
0         0       3 -0.592481 -0.502445     1
1         1       1  0.638789  0.786845     0
2         1       3 -0.284663 -0.488854     0
3         1       1  0.407926  0.420730     0
4         0       3  0.407926 -0.486337     1

In [13]:
X=df.drop(['Survived'],axis=1)
y=df['Survived']

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [15]:
#create param
model_param = {
    'DecisionTreeClassifier':{
        'model':DecisionTreeClassifier(),
        'param':{
            'criterion': ['gini','entropy']
        }
    },
        'KNeighborsClassifier':{
        'model':KNeighborsClassifier(),
        'param':{
            'n_neighbors': [5,10,15,20,25]
        }
    },
        'SVC':{
        'model':SVC(),
        'param':{
            'kernel':['rbf','linear','sigmoid'],
            'C': [0.1, 1, 10, 100]
         
        }
    }
}

In [16]:
scores =[]
for model_name, mp in model_param.items():
    model_selection = GridSearchCV(estimator=mp['model'],param_grid=mp['param'],cv=5,return_train_score=False)
    model_selection.fit(X,y)
    scores.append({
        'model': model_name,
        'best_score': model_selection.best_score_,
        'best_params': model_selection.best_params_
    })

In [17]:
df_model_score = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_model_score

                    model  best_score                  best_params
0  DecisionTreeClassifier    0.778966        {'criterion': 'gini'}
1    KNeighborsClassifier    0.802492           {'n_neighbors': 5}
2                     SVC    0.811481  {'C': 100, 'kernel': 'rbf'}

In [18]:
model_svc = SVC( C= 100,kernel='rbf')
model_svc.fit(X, y)

SVC(C=100)

In [19]:
df_test = pd.read_csv('/kaggle/input/titanic/test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
df_t=df_test.drop(['PassengerId','Name','Ticket','Cabin','Embarked','SibSp','Parch'], axis=1 )
df_t.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [21]:
df_t['Age'].fillna(df_t['Age'].mean(),inplace=True)
df_t['Fare'].fillna(df_t['Fare'].mean(),inplace=True)
l_sex_dummies=pd.get_dummies(df_t['Sex'],drop_first=True)
df_t= pd.concat([df_t,l_sex_dummies],axis=1)
df_t.drop(['Sex'], axis=1, inplace=True )
df_t.head()

   Pclass   Age     Fare  male
0       3  34.5   7.8292     1
1       3  47.0   7.0000     0
2       2  62.0   9.6875     1
3       3  27.0   8.6625     1
4       3  22.0  12.2875     0

In [22]:
df_t[feature_scale] = sts.fit_transform(df_t[feature_scale])
df_t.head()

   Pclass       Age      Fare  male
0       3  0.334993 -0.498407     1
1       3  1.325530 -0.513274     0
2       2  2.514175 -0.465088     1
3       3 -0.259330 -0.483466     1
4       3 -0.655545 -0.418471     0

In [23]:
y_predicted = model_svc.predict(df_t)
submission = pd.DataFrame({
        "PassengerId": df_test['PassengerId'],
        "Survived": y_predicted
    })
submission.to_csv('titanic_submission.csv', index=False)